[submodule "web/shells/php-reverse-shell"]
	path = web/shells/php-reverse-shell
	url = https://github.com/pentestmonkey/php-reverse-shell.git
[submodule "post/privesc/linux/windows-privesc-check"]
	path = post/privesc/linux/windows-privesc-check
	url = https://github.com/pentestmonkey/windows-privesc-check.git
[submodule "post/privesc/linux/unix-privesc-check"]
	path = post/privesc/linux/unix-privesc-check
	url = https://github.com/pentestmonkey/unix-privesc-check.git
[submodule "post/privesc/kernel-exploits/repos/kernel-exploits"]
	path = post/privesc/kernel-exploits/repos/kernel-exploits
	url = https://github.com/lucyoa/kernel-exploits.git
[submodule "post/privesc/kernel-exploits/repos/linux-kernel-exploits"]
	path = post/privesc/kernel-exploits/repos/linux-kernel-exploits
	url = https://github.com/SecWiki/linux-kernel-exploits.git
[submodule "web/shells/repos/WebShell"]
	path = web/shells/repos/WebShell
	url = https://github.com/xl7dev/WebShell.git
[submodule "encoding/Decodify"]
	path = encoding/Decodify
	url = https://github.com/UltimateHackers/Decodify.git
[submodule "web/command_injection/commix"]
	path = web/command_injection/commix
	url = https://github.com/commixproject/commix.git
[submodule "credentials/Default-Credentials"]
	path = credentials/Default-Credentials
	url = https://github.com/netbiosX/Default-Credentials.git
[submodule "post/privesc/scanner/linux/sh/LinEnum"]
	path = post/privesc/scanner/linux/sh/LinEnum
	url = https://github.com/rebootuser/LinEnum.git
[submodule "encoding/vncpasswd.py"]
	path = encoding/vncpasswd.py
	url = https://github.com/trinitronx/vncpasswd.py.git
[submodule "static_binaries/repo/static-binaries"]
	path = static_binaries/repo/static-binaries
	url = https://github.com/andrew-d/static-binaries.git
[submodule "post/backdoor/tsh"]
	path = post/backdoor/tsh
	url = https://github.com/creaktive/tsh
[submodule "shell/ShellPop"]
	path = shell/ShellPop
	url = https://github.com/0x00-0x00/ShellPop.git
[submodule "web/PayloadsAllTheThings"]
	path = web/PayloadsAllTheThings
	url = https://github.com/swisskyrepo/PayloadsAllTheThings.git
